crawlbase-mcp-ai-agent-workflow.json
{
    "name": "Build AI Agent Workflows with Crawlbase Web MCP",
    "nodes": [
      {
        "parameters": {
          "notice": ""
        },
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          240,
          360
        ],
        "id": "3f2392c7-bae5-420c-874d-8ac68e5f78bd",
        "name": "When clicking 'Execute workflow'"
      },
      {
        "parameters": {
          "mode": "manual",
          "duplicateItem": false,
          "assignments": {
            "assignments": [
              {
                "id": "id-1",
                "name": "websiteUrl",
                "value": "https://www.amazon.com/product-page-example",
                "type": "string"
              },
              {
                "id": "id-2",
                "name": "scrapeDepth",
                "value": 2,
                "type": "number"
              },
              {
                "id": "id-3",
                "name": "userPrompt",
                "value": "=Scrape the Amazon product page at <amazon-product-url> and extract the key product information.\n\nBased on the extracted data, provide a concise, well-structured summary that includes:\n\n- Product name\n- Brand\n- Key features or highlights\n- Main use cases or benefits\n- Overall value proposition",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "include": "all",
          "options": {}
        },
        "id": "4f7977a0-98bf-4c46-b6b5-95633333f836",
        "name": "Workflow Configuration",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          460,
          360
        ]
      },
      {
        "parameters": {
          "aiAgentStarterCallout": "",
          "promptType": "define",
          "text": "={{ $json.userPrompt.replaceAll('<amazon-product-url>', $json.websiteUrl) }}",
          "hasOutputParser": false,
          "needsFallback": false,
          "options": {
            "systemMessage": "You are a web research assistant with access to web scraping tools.\n\nYour task is to:\n1. ALWAYS use the available MCP Client tool to scrape websites when asked\n2. The tool can access and extract content from any URL provided\n3. After scraping, analyze the extracted content thoroughly\n4. Provide a clear, structured summary of your findings\n\nIMPORTANT: You MUST use the MCP Client tool to scrape websites. Do not ask for URLs - they will be provided in the user prompt. Use the tool to fetch the actual website content."
          }
        },
        "id": "42e24eb4-392c-45fa-b169-19207abac204",
        "name": "AI Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          680,
          360
        ]
      },
      {
        "parameters": {
          "notice": "",
          "model": {
            "__rl": true,
            "mode": "id",
            "value": "gpt-4o-mini"
          },
          "responsesApiEnabled": true,
          "builtInTools": {},
          "options": {}
        },
        "id": "09ae4c9a-a5f7-4ff0-a5b9-b09bd8d60a18",
        "name": "OpenAI Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          680,
          540
        ],
        "credentials": {
          "openAiApi": {
            "id": "{{ $credentials.openAiApi.id }}",
            "name": "{{ $credentials.openAiApi.name }}"
          }
        }
      },
      {
        "parameters": {
          "notice": "",
          "endpointUrl": "https://YOUR-MCP-SERVER-URL/mcp",
          "serverTransport": "httpStreamable",
          "authentication": "none",
          "include": "all",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
        "typeVersion": 1.2,
        "position": [
          820,
          540
        ],
        "id": "579dd5ce-1ce4-4dd8-9d63-aa48b557c68b",
        "name": "MCP Client"
      }
    ],
    "connections": {
      "When clicking 'Execute workflow'": {
        "main": [
          [
            {
              "node": "Workflow Configuration",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Workflow Configuration": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "MCP Client": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 0,
    "updatedAt": "2024-01-01T00:00:00.000Z",
    "versionId": "00000000-0000-0000-0000-000000000000"
  }